.env
.DS_Store

# Backend
backend/.venv
backend/Pipfile
backend/Pipfile.lock

#Frontend
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/node_modules