[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy = "*"
werkzeug = "*"
alembic = "*"
flask-wtf = "*"
wtforms = "*"
email-validator = "*"
faker = "*"
gunicorn = "*"
munch = "*"
googlemaps = "*"
boto3 = "*"

[dev-packages]
black = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
